body{
    background-color: whitesmoke;
}
h2{
    font-family: 'Libre Baskerville';
    font-style: italic;
    text-transform: uppercase;
    color: #fcbd48;   
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    
}
h3{
    text-align: center;
    font-weight: bold;
    color: #2269b9;    
    font-style: italic;
    margin-top: 10px;
}
hr{
    color:  rgb(44, 141, 24);
    width: 80%;
    
}
em {
    font-family:'Sarala';
    margin-top: 400px;
    font-style: italic;
    color: #292a41;
    font-size: 16px; 
}
h5{
    text-transform: uppercase;
    text-align: left;
    font-size: 17px;
    color: #2269b9;    
    font-style: italic;
    font-family: 'Quicksand', cursive;

}
.menu{
    width: 20%;
    height: 100%;
    margin:0%;
    float: left;
    background-color: #606769;
    text-align: center;
    position: fixed;
    font-family: 'Merriweather';
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 22px;
    margin-bottom: 5px;
    
}

.menu ul {
    list-style-type: none;
    padding-left: 0%;
    font-size: 15px;
}

.menu ul li a {
    text-decoration: none;
    padding: 17px;
    display: block;
    color: white;
}
.menu ul li a:hover {
    transition:all .2s ease;
    background-color: white;
    border-right: 6px solid  #286bb8;
    color: #fda43d;
}

.submenu{
    width: 15%;
    height: 25%;
    margin-left:85%;
    float: right;
    background-color: #286bb8;
    text-align: center;
    position: fixed;
    font-family: 'Merriweather';
    font-weight: bold;
    letter-spacing: 3px;
    
    
}
.submenu ul {
    list-style-type: none;
    padding-right: 10%;
    font-size: 15px;
}

.submenu ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color:white;
}
.submenu ul li a:hover {
    transition:all .2s ease;
    background-color: #606769;
    border-right: 6px solid  #017a07;
    color: #ffffff;
}


.contenido{ 
    margin-left: 25%;
    margin-right: 15%;    
    padding: auto;
    text-align: justify;
    font-family: 'Quicksand';
    font-size: 17px;
}
.pDer{
    margin-left: 5%;  
}
.videoYoutube{
    width: 440px;
    height: 160px;
    display:block;
    margin:auto;
    padding-bottom: 20px
}
#med{
    text-align: center; 
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
}
#fin{
    text-align-last: right;
    font-style: italic;
    margin-right: 8%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#picture{   
    display: block;
    float: right;
    margin-top: 14%;
    margin-right: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 7px;    
      
}
#tarjeta{
    margin: auto;
    display: block;
    transition: all .3s ease-out;
    border-style: dotted;
}
#picture:hover,#tarjeta:hover{
    transition: all .3s ease-out; 
    transform:scale(1.1);
    transform:(-6, 10px);
    box-shadow: 6px 8px 12px 0 #286bb8;
}
#selec {
    background-color: #fda43d;
    border-right: 6px solid  #286bb8;
    color: white;
}
#selec2 {
    background-color: #fda43d;
    border-right: 6px solid  #017a07;
    color: white;
}
#iconList{
    list-style-image: url("../imagenes/jhs.png#")
}
#cita{
    text-transform: none;
     font-style: italic;
}